---
layout: skills
title: Erin Schnabel - skills, etc.
redirect_from:
- skills.php/
---
<section class="cv">
  <header>
    <h1>
       <div class="title">Erin Schnabel</div>
       <div class="address"><a href="http://www.linkedin.com/in/erinschnabel">Linked in</a></div>
    </h1>
  </header>

  <h2>Skills</h2>

  <p>I am proficient with Object Oriented principles, design, and analysis. I was the development lead for the WebSphere Application Server Liberty runtime from it's initial release through 8.5.5.6. I've developed web applications using Perl (both CGI and Fast-CGI), PHP, and Ruby/Ruby on Rails, and javascript front-ends using JAX-RS or Servlets for the server-side. I am familiar with JSPs and JSF, though I prefer the ease-of-use provided by JAX-RS.</p>

  <p>I've worked in both the Core and Enterprise Expert Groups for the OSGi standards body, and have experience with the OSGi
  core specification and several of services defined in the compendium.</p>

  <p><a href="http://www.infoq.com/interviews/erin-schnabel-liberty-profile">InfoQ interview (Liberty)</a> </p>

  <table cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <th>Proficient</th>
      <th>Experience</th>{% assign current = 'now' | date: "%Y" %}
    </tr>
    {% include cv-row.html url='http://java.sun.com/'
      name='Java' version='1.2.1 - 7.0'
      details='[JNI, Reflection, Performance, Collections, Concurrent, J2EE, Ant, Maven]'
      start='1996' end=current %}

    {% include cv-row.html url='http://osgi.org'
      name='OSGi' version='R4, R5'
      details='[DS, ConfigAdmin, Bnd]'
      start='2007' end='2016' %}

    {% include cv-row.html url='http://www.omg.org/technology/documents/corba_spec_catalog.htm'
      name='CORBA' version='2.3.x-2.6.x'
      details='[GIOP, RMI/IIOP]'
      start='1997' end='2012' %}
    <tr>
      <th>Know enough to be dangerous</th>
      <th>Experience</th>
    </tr>
    {% include cv-row.html url='http://www.w3.org/Style/CSS/'
      name='CSS' start='2001' end=current %}

    {% include cv-row.html name='Javascript: Angular.js (v1.x), Ember, Node.js  etc.'
      start='2007' end=current %}

    {% include cv-row.html url='http://www.w3.org/MarkUp/'
      name='HTML' version='1.1 - 5.x'
      start='1995' end=current %}

    {% include cv-row.html url='http://www.apple.com/macosx/'
      name='MacOS'
      start='2009' end=current %}

    {% include cv-row.html url='http://ubuntu.com/'
      name='ubuntu linux'
      start='2010' end=current %}

    {% include cv-row.html url='http://gentoo.org/'
      name='gentoo linux'
      start='2003' end='2013' %}
    <tr>
      <th>Now-and-again dabbling</th>
      <th>Experience</th>
    </tr>
    {% include cv-row.html
      name='Perl'
      start='2001' end=current %}

    {% include cv-row.html url='http://www.php.net'
      name='PHP ' version='4.0.6 - 4.5.x, 5.2.x'
      start='2002' end=current %}

    {% include cv-row.html name='Ruby / Ruby on Rails'
      start='2006' end=current %}

    {% include cv-row.html url='http://www.mysql.com/'
      name='MySQL' version='4.0, 5.0'
      start='2002' end=current %}

    {% include cv-row.html url='http://eclipse.org/jetty/'
      name='Jetty' version='6.1.x,7,8'
      start='2009' end=current %}

    {% include cv-row.html  name='SQL'
      start='1995' end=current %}
    <tr>
      <th>Rust bucket</th>
      <th>Experience</th>
    </tr>
    {% include cv-row.html url='http://httpd.apache.org/'
      name='Apache' version='1.3.2x/2.x'
      start='2001' end='2013' %}

    {% include cv-row.html name='Velocity'
      start='2007' end='2012' %}

    {% include cv-row.html name='C/C++'
      start='1995' end='2008' %}

    {% include cv-row.html name='PL/X, PL/1'
      start='1999' end='2003' %}

    {% include cv-row.html url='http://www-306.ibm.com/software/webservers/appserv/zos_os390/'
      name='WebSphere Application Server for z/OS and OS/390' version='4.x - 6.x'
      details='Component Broker for OS/390 v3.0.2'
      start='1999' end='2008' %}

    {% include cv-row.html url='http://www.faqs.org/rfcs/rfc3501.html'
      name='IMAP' version='4Rev1'
      start='2002' end='2005' %}

    {% include cv-row.html url='http://www.inter7.com/courierimap/courierimap.html'
      name='Courier-IMAP ' version='1.7'
      start='2002' end='2005' %}

    {% include cv-row.html name='SMTP'
        start='2002' end='2005' %}

    {% include cv-row.html url='http://www.postfix.org/'
      name='Postfix' version='2.x'
      start='2002' end='2005' %}

  </table>

  <h2>Other miscellaneous Linux/Open Source tools: </h2>
  <ul>
    <li><a href="https://github.com/ebullient">ebullient</a> on GitHub</li>
    <li><a href="https://jekyllrb.com/s">Jekyll</a></li>
    <li><a href="http://textpattern.com/">Textpattern</a></li>
    <li><a href="http://xwiki.org/">XWiki</a></li>
    <li><a href="http://squirrelmail.org/">SquirrelMail</a></li>
  </ul>
</section>
