{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main class="page">
  <article class="post">
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <section class="content">
      {{ .Content }}
    </section>
    {{ partial "byline.html" . }}
  </article>
  <nav class="prev-next">
    <div class="nav-left">{{ with .PrevInSection }}<a href="{{.RelPermalink}}" title="Previous: {{ .Title }}">&laquo; Older</a>{{ end }}</div>
    <div class="nav-center"><a href="/">Top</a> | <a href="/archive/">Archive</a></div>
    <div class="nav-right">{{ with .NextInSection }}<a href="{{.RelPermalink}}" title="Next: {{ .Title }}">Newer &raquo;</a>{{ end }}</div>
  </nav>
</main>
{{ end }}
