[submodule "projects/ttrpg-convert-cli"]
	path = projects/ttrpg-convert-cli
	url = https://github.com/ebullient/ttrpg-convert-cli.git
[submodule "projects/obsidian-slides-extended"]
	path = projects/obsidian-slides-extended
	url = https://github.com/ebullient/obsidian-slides-extended.git
