# Markdown-Writer for Atom
# https://atom.io/packages/markdown-writer
#
# To find latest and default configurations, refer to:
# https://github.com/zhuochun/md-writer/blob/master/lib/config.cson
#
# Examples: https://github.com/zhuochun/md-writer/wiki/Settings#example-customizations
#
# NOTE 1: After edit, please run command `Window: Reload` or
#         Use menu: View -> Developer -> Reload Window.
# NOTE 2: Strings need to be quoted.
#

# Static engine of your blog
# - One of: general, html, jekyll, octopress, hexo
siteEngine: "hugo"
siteUrl: "https://www.ebullient.dev/"

siteDraftsDir: "site/content/posts/"
sitePostsDir:  "site/content/posts/"
siteImagesDir: "site/static/images/"

# The front matter key name
frontMatterNameTags: "tags"
frontMatterNameCategories: ""

# Filename format of new drafts created
newDraftFileName: "{year}-{month}-{day}-{slug}{extension}"
# Filename format of new posts created
newPostFileName: "{year}-{month}-{day}-{slug}{extension}"

# Front matter template
frontMatter: """
---
title: "{title}"
---
"""

# File extension of posts/drafts
fileExtension: ".md"
# File slug separator
slugSeparator: "-"

# Rename filename based on title in front matter when publishing
publishRenameBasedOnTitle: false
# Publish keep draft's extension name used
publishKeepFileExtname: false

# Table of content (TOC) default options
toc:
  # Depth from/to, Number between 1-6
  depthFrom: 2
  depthTo: 3
  # Insert anchor link
  insertAnchor: true
  # Chose Anchor method, one of: "github.com", "bitbucket.org", "ghost.org", "gitlab.com"
  anchorMode: "github.com"
