---
layout: archive
title: Archive by tag
---
{% assign rawtags = "" %}
{% assign tags = "" %}
{% for tag_hash in site.tags %}
  {% assign rawtags = rawtags | append:tag_hash[0] | append:'|' %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<section class="archive_list">{% for tag in tags %}
  <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
  <ul>{% for post in site.tags[tag] %}
    <li><span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}</ul>
{% endfor %}</section>
