@import "normalize";
@import "colors";
@import "syntax";
@import url(https://fonts.googleapis.com/css?family=PT+Mono);
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $night-rider;
}
main {
  line-height: 1.5;
}
h1 {
  font-size: 1.4em;
}
header h1 a {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}
code,
pre,
section.archive_list ul .date {
  font-family: 'PT Mono', Courier, 'Menlo', 'Andale Mono';
}
pre {
  margin: .5em 1.5em;
}
pre.bigblock,
pre code {
  display: block;
  overflow: scroll;
  color: $black;
  padding: 5px;
  margin: .5em 1.5em;
  background-color: $white-smoke;
  border: 1px solid silver;
}
pre.bigblock code {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: none;
}
.more,
footer.byline,
aside.sidebar {
  font-size: 0.9em;
}
article,
footer.byline {
  margin: 1em 0;
}
.tags ul,
.tags li {
  display: inline;
}
.tags ul {
  padding-left: 0;
  list-style-type: none;
}
footer.page-footer {
  padding: 1em;
  font-size: 1em;
  color: white;
  background-color: $smalt;
}
footer > div {
  white-space: nowrap;
}
ul.section_list {
  font-size: 1.2em;
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
}
ul.section_list li {
  margin: 0 10px 2px 0;
  padding: 0;
}
section.archive_list ul {
  list-style-type: none;
  padding-left: 1em;
}
section.archive_list ul .date {
  font-size: 0.9em;
  padding-right: 1em;
}
.all_tags {
  text-align: justify;
}
.prev-next .center {
  text-align: center;
  width: 15em;
}
.prev-next .left {
  text-align: left;
  width: 10em;
  min-width: 10em;

}
.prev-next .right {
  text-align: right;
  width: 10em;
  min-width: 10em;
}
/*
 * links
 */
a {
 text-decoration: none;
}
.container h1 a,
section.archive_list a,
main.articles a,
section.page a,
section.cv a,
article.post a {
 color: $tawny;
 border-bottom: 1px solid silver;
}
section.cv a,
aside.sidebar a,
footer a {
   color: $white-smoke;
}
main.articles a img,
section.page a img,
article.post a img {
  border: none;
}
header h1 a {
  color: $black;
}
footer a svg {
  height: 1.5em;
  width: 1.5em;
  fill: currentColor;
}
section.cv .title {
	font-weight: bold;
}
section.cv .address,
section.cv .contact,
section.cv .version,
section.cv .duration,
section.cv .location {
	font-size:small;
}
section.cv tr.bullet td {
  padding: 0px 10px 5px 15px;
  border-bottom: 1px solid $white-smoke;
}
section.cv tr.category td {
  padding: 5px;
  background: $white-smoke;
}
section.cv h1 {
  font-size: 1.3em;
}
section.cv h2 {
  font-size: 1.2em;
  border-bottom: 1px solid gray;
}
section.cv th {
  font-size: 1.2em;
  text-align: left;
  padding: 1.5em 0 0 0;
  border-bottom: 1px solid gray;
}
/* Embedded video */
.embed.video-player {
    overflow: hidden;
    position: relative;
    width:100%;
}
.embed.video-player::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}
.embed.video-player iframe.youtube-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Default Layout: body containing wrapper and footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  position: relative;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
.wrapper {
  position: relative;
  flex: 1 1 auto;
  height: 100%
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
footer.page-footer {
  flex: 0;
  display: flex;
  min-height: 3em;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
/* Layout: wrapper contains header and content
 page: header.page-header, main.page, and div.prev-next
 archive: header.page-header, div.archive
 post: header.page-header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  display: flex;
  max-width: 800px;
  padding: 0 .5em;
  flex-flow: column nowrap;
  align-items: stretch;
}
nav.prev-next {
  flex: 0;
  height: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
article.post,
div.archive {
  flex: 1;
}
/* Layout: div.archive contains main.archive and sidebar.aside
–––––––––––––––––––––––––––––––––––––––––––––––––– */
div.archive {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}
main.archive {
  flex: 1;
  padding-right: 1em;
}
aside.sidebar {
  width: 250px;
}
@media (min-width: 800px) {
  .wrapper {
    width: 800px;
    margin: 0 auto;
  }
}