.theme-toggle {
  --size: 1.2rem;

  position: absolute;
  top: 1.4rem;
  right: 1rem;

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }
}

@media(max-width: 350px) {
  .theme-toggle {
    top: 2.8rem;
  }
}