@import "callouts.css";
body {
  --r-link-decoration: none;
  --r-link-decoration-color: transparent;
  --r-link-decoration-hover: var(--r-link-decoration);
  --r-link-decoration-hover-color: var(--r-link-decoration-color);
}
.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: normal;
  color: var(--r-main-color);
  background-color: var(--r-background-color);
}
.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}
.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}
.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: var(--r-heading-text-transform);
  text-shadow: var(--r-heading-text-shadow);
  word-wrap: break-word;
}
.reveal h1 {
  font-size: var(--r-heading1-size);
}
.reveal h2 {
  font-size: var(--r-heading2-size);
}
.reveal h3 {
  font-size: var(--r-heading3-size);
}
.reveal h4 {
  font-size: var(--r-heading4-size);
}
.reveal h1 {
  text-shadow: var(--r-heading1-text-shadow);
}
.reveal .slides > section.drop {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}
.reveal p {
  margin: var(--r-block-margin) 0;
  line-height: 1.3;
}
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}
.reveal img.no-margin {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}
.reveal b,
.reveal strong,
.reveal code b,
.reveal code strong {
  font-weight: bold;
  color: var(--r-bold-color);
  a {
    color: var(--r-bold-color);
  }
}
.reveal i,
.reveal em,
.reveal code i,
.reveal code em {
  font-style: italic;
  color: var(--r-italic-color);
  a {
    color: var(--r-italic-color);
  }
}
.reveal i b,
.reveal i strong,
.reveal em b,
.reveal em strong,
.reveal code i b,
.reveal code i strong,
.reveal code em b,
.reveal code em strong {
  color: var(--r-bold-italic-color);
  a {
    color: var(--r-bold-italic-color);
  }
}
.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}
.reveal ol {
  list-style-type: decimal;
}
.reveal ul {
  list-style-type: disc;
}
.reveal ul ul {
  list-style-type: square;
}
.reveal ul ul ul {
  list-style-type: circle;
}
.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}
.reveal dt {
  font-weight: bold;
}
.reveal dd {
  margin-left: 40px;
}
.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: var(--r-block-margin) auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}
.reveal q {
  font-style: italic;
}
.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: var(--r-block-margin) auto;
  text-align: left;
  font-size: 0.55em;
  font-family: var(--r-code-font);
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.reveal code {
  font-family: var(--r-code-font);
  text-transform: none;
  tab-size: 2;
}
.reveal pre code {
  display: block;
  padding: 5px;
  word-wrap: normal;
}
.reveal .code-wrapper {
  white-space: normal;
}
.reveal .code-wrapper code {
  white-space: pre;
}
.reveal table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.reveal table th {
  background-color: var(--r-table-header);
}
.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em;
}
.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: center;
}
.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}
.reveal table tbody {
  border-bottom: none;
}
.reveal sup {
  vertical-align: super;
  font-size: smaller;
}
.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}
.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}
.reveal small * {
  vertical-align: top;
}
.reveal .right {
  text-align: right;
}
.reveal img {
  margin: var(--r-block-margin) 0;
}
.reveal a {
  color: var(--r-link-color);
  text-decoration-line: var(--r-link-decoration);
  text-decoration-color: var(--r-link-decoration-color);
  transition: color 0.15s ease;
}
.reveal a:hover {
  color: var(--r-link-color-hover);
  text-decoration-line: var(--r-link-decoration-hover);
  text-decoration-color: var(--r-link-decoration-hover-color);
  text-shadow: none;
  border: none;
}
.reveal .roll span:after {
  color: #fff;
  background: var(--r-link-color-dark);
}
.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.reveal a .r-frame {
  transition: all 0.15s linear;
}
.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}
.reveal .controls {
  color: var(--r-link-color) !important;
}
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}
.reveal.center .slides section {
  min-height: 50vh !important;
}
.reveal .faint {
  color: var(--r-faint);
  font-weight: 300;
}
.reveal .slides .footer > code,
.reveal .slides p > code,
.reveal .slides li > code {
  color: var(--r-link-color);
  font-size: .8em;
}
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
  html:not(.print-pdf) .reveal section img {
    border: none;
  }
  aside.controls,
  #customcontrols > *,
  .reveal .slide-menu-button,
  .slide-number {
    display: none;
  }
  html:not(.print-pdf) .reveal .slides section .footer {
    margin-top: .5em;
    font-size: .5em !important;
  }
}
