{{- $start    := int (.Get "start") }}
{{- if eq (.Get "end") "current" }}
  {{- .Scratch.Set "end" (int (now.Format "2006")) }}
{{- else }}
  {{- .Scratch.Set "end" (int (.Get "end")) }}
{{- end }}
{{- $end    := int (.Scratch.Get "end") }}
{{- $howMany  := sub $end $start }}
<tr class="bullet">
  <td>{{ if .Get "url" }}<a href="{{ .Get "url" }}">{{ .Get "name" }}</a>{{ else }}{{ .Get "name" }}{{ end }}
      {{ if .Get "version" }}<span class="version">({{ .Get "version" }})</span>{{ end }}
      {{ if .Get "details" }}<br />&nbsp;&nbsp;<span class="version">{{ .Get "details" }}</span>{{ end }}</td>
  <td class="duration">{{ if eq $howMany 0 }}(6 months){{ else }}{{ $howMany }} year{{if gt $howMany 1 }}s{{end}}{{ end }}<br />
    <small>({{ .Get "start" }} - {{ .Get "end" }})</small></td>
</tr>
