{{ define "main" }}
<main class="articles">
  {{ range first 10 (where .Site.RegularPages "Section" "posts") }}
    <article>
      <header>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      </header>
      {{ if .Truncated }}
      <section class="post_excerpt">
        {{ .Summary }}
      </section>
      <div>[<a class="read-more" href="{{ .RelPermalink }}">more</a>]</div>
      {{ else }}
      <section class="post_excerpt">
        {{ .Content }}
      </section>
      {{ end }}
      {{ partial "byline.html" . }}
    </article>
  {{ end }}
</main>
<nav class="prev-next">
  <div>&nbsp;</div>
  <div><a href="/archive/">More..</a></div>
  <div>&nbsp;</div>
</nav>
{{ end }}
